/* #answerInput {
    width: 100%;
} */

/* Variabeln */
:root {
    --questionImageHeight: 300px;
    --questionImageWidth: 300px;
    --buttonBackgroundColor: #8ec5fc;
    --buttonHoverBackgroundColor: #3c8ce7;
}

/* Importieren der Google-Schriftart */
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* Grundlegende Stile */
body {
    background-image: linear-gradient(to right, #8ec5fc 0%, #fbc2eb 99%, #fad0c4 100%);
    /* Weicher Gradient, der den Sonnenuntergang nachahmt */
    font-family: 'Handlee', cursive;
    /* Eine lockere, handgeschriebene Schriftart */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 48px;
    /* Große Schriftgröße für gute Sichtbarkeit */
    color: #3c8ce7;
    /* Wählt eine ansprechende, leuchtende Farbe */
    text-align: center;
    /* Zentriert den Titel horizontal */
    font-weight: bold;
    /* Macht die Schrift fett, um mehr Aufmerksamkeit zu erregen */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    /* Fügt einen weichen Schatten hinzu für mehr Tiefe */
    margin-top: 20px;
    /* Fügt oben einen Abstand hinzu */
    margin-bottom: 20px;
    /* Fügt unten einen Abstand hinzu */
    padding: 10px;
    /* Fügt innen ein wenig Polsterung hinzu für bessere Optik */
    border-radius: 10px;
    /* Abgerundete Ecken für modernes Aussehen */
}

h2 {
    color: #fa709a;
    /* Sanftes Violett */
    margin-bottom: 20px;
    font-size: 1.8em;
}

h3 {
    color: #333;
    font-size: 1.50em;
}

p {
    color: #333;
    font-size: 1.30em;
}

/* Stil des Hauptcontainers */
#gameContainer {
    width: 80%;
    max-width: 650px;
    background-color: #fff4e6;
    /* Sehr helles Orangegelb für den Innenraum */
    border: 5px solid #fa709a;
    /* Helles Rosa als Randfarbe */
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Schatten für Tiefeneffekt */
    position: relative;
}


#gameStats {
    text-align: left;
    margin: 20px;
    display: none;
    /* Versteckt das Element standartmässig */
}

#gameStats h3 {
    text-align: center;
}

/* Allgemeine Button-Stile */
button {
    background-color: #8ec5fc;
    /* Helles Blau, ähnlich dem Himmelfarbe */
    color: white;
    border: none;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Schatten für Tiefeneffekt */
    transition: transform 0.2s, background-color 0.3s;
    /* Weiche Übergänge für Transform und Farbänderung */
}

button:hover {
    transform: scale(1.05);
    /* Vergrößert den Button leicht beim Hover */
    background-color: #3c8ce7;
    /* Ein dunkleres Blau beim Hover */
}

/* Antwort-Buttons */
#button1,
#button2,
#button3 {
    width: 90%;
    padding: 15px;
    margin: 10px auto;
    /* Zentriert die Buttons horizontal mit Auto-Margin */
    display: block;
    /* Stellt sicher, dass jeder Button seine eigene Zeile einnimmt */
}

.playerChoiceButton {
    width: 90%;
    /* Setzt die Breite jedes Buttons auf 90% des Elternelements */
    padding: 15px;
    /* Fügt gleichmäßig 15px Polsterung hinzu */
    margin: 10px auto 10px;
    /* Zentriert die Buttons horizontal und fügt oben und unten 10px Abstand hinzu */
    display: block;
    /* Stellt sicher, dass jeder Button als Block angezeigt wird und seine eigene Zeile einnimmt */
    background-color: #8ec5fc;
    /* Helles Blau, ähnlich dem Himmelfarbe */
    color: white;
    /* Weiße Textfarbe */
    border: none;
    /* Kein Rahmen */
    border-radius: 10px;
    /* Runde Ecken mit 10px Radius */
    cursor: pointer;
    /* Ändert den Mauszeiger zu einem Zeiger, wenn er über den Button fährt */
    font-size: 1.2em;
    /* Legt eine größere Schriftgröße fest */
    font-weight: bold;
    /* Fettgedruckter Text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Fügt einen Schatten hinzu für einen leicht erhöhten Effekt */
    transition: transform 0.2s, background-color 0.3s;
    /* Weiche Übergänge für Transform und Farbänderung */
}

.playerChoiceButton:hover {
    transform: scale(1.05);
    /* Vergrößert den Button leicht beim Hover */
    background-color: #3c8ce7;
    /* Ein dunkleres Blau beim Hover */
}

#newPlayerButton {
    background-color: #fbc2eb;
    /* Ein weiches Rosa */
    margin-top: 20px;
}

#weiterButton {
    visibility: hidden;
    /* Versteckt den Button standardmäßig */
    background-color: #fbc2eb;
    /* Ein weiches Rosa */
}

#resetButton {
    cursor: pointer;
    position: absolute;
    margin: 0;
    top: 10px;
    right: 10px;
    width: 40px;
    /* Adjust as needed */
    height: 40px;
    /* Adjust as needed */
    visibility: hidden;
    /* Versteckt den Button standardmässig */
}

#resetButton path {
    stroke-width: 2;
    /* Adjust thickness of strokes */
}

#menu button {
    font-size: 5px;
    height: 5px;
    background-color: #fa709a;
}

/* Progress bar */
.playerProgressBar {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.playerName {
    margin-bottom: 5px;
}

.playerProgress {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background-color: #3c8ce7;
    /* Color of the progress bar */
}


/* Fragen und Antworten Stil */

#questionAppContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#questionImage {
    max-width: 100%;
    /* Bild an Containerbreite anpassen */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#questionImage {
    width: var(--questionImageWidth);
    height: var(--questionImageHeight);
    object-fit: cover;
    object-position: center;
}

#progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 20px;
}
#loading-bar {
    width: 0%;
    height: 30px;
    background-color: #3c8ce7;
    text-align: left;
    padding-left: 10px;
    line-height: 30px;
    color: white;
    border-radius: 5px;
    transition: width 0.3s ease;
}

/* Responsive Design für kleinere Geräte */
@media (max-width: 600px) {
    #questionAppContainer {
        width: 90%;
        border-radius: 15px;
    }
}


/* Responsive Anpassungen für kleinere Bildschirme */
@media (max-width: 600px) {
    h1 {
        font-size: 32px;
        /* Etwas kleinere Schriftgröße auf kleineren Bildschirmen */
    }

    #questionAppContainer {
        display: block;
        margin: auto;

    }

    #weiterButton {
        visibility: hidden;
        background-color: #fbc2eb;
        margin: auto;
    }
}