body {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

#team {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.infoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

img {
    display: block;
    margin: 0 auto 10px; /* Bild zentrieren und Abstand nach unten */
}

.infoBox h3 {
    margin: 10px 0 5px; /* Reduziert den Abstand oberhalb und unterhalb von h3 */
    font-size: 30px; 
    color: #fa709a; 
}

.infoBox p {
    margin: 5px 0; /* Reduziert den Abstand oberhalb und unterhalb von p */
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


